@font-face {
  font-family: ''Roboto'';
  src: url(/Assets\fonts\gilmer-light\Gilmer-Light.woff2) format("woff2"),
    url(/Assets\fonts\gilmer-light\Gilmer-Light.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'gl';
  src: url(/Assets\fonts\gilmer-light\Gilmer-Light.woff2) format("woff2"),
    url(/Assets\fonts\gilmer-light\Gilmer-Light.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'gm';
  src: url(/Assets\fonts\gilmer-light\Gilmer-Light.woff2) format("woff2"),
    url(/Assets\fonts\gilmer-light\Gilmer-Light.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'gr';
  src: url(Assets\fonts\gilmer-light\Gilmer-Light.woff2) format("woff2"),
    url(Assets\fonts\gilmer-light\Gilmer-Light.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
.uploadbox {
  max-width: 1010px;
  height: 600px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 48px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 35px;
  flex-direction: column;
  transition: justify_content 0.4s linear;
}
body {
  background: radial-gradient(#51db02, #8bfd09);
  height: 97vh;
  align-items: center;
}
::-webkit-scrollbar {
  width: 18px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 14px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
.logoarea {
  margin-bottom: 30px;
}
.logo {
  width: 142px;
  height: 43px;
}
.logosubtext {
  font-family: ''Roboto'';
  color: #313131;
  font-size: 16px;
}
.filearea {
  width: 100%;
  flex: 1;
  background-color: #f6f6f6;
  outline-style: dashed;
  outline: #51db02 4px dashed;
  border-radius: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 0.6s;
  transition: flex 0.9s cubic-bezier(0.37, 0.51, 0, 0.95);
}
.filearea.shrunk {
  flex: none;
}
.uploadbox.shrunk {
  justify-content: flex-start;
}
.musicicon.shrunk {
  opacity: 0%;
  display: none;
}
.musicicon {
  color: #05bde8;
  font-size: 48px;
  opacity: 100%;
  transition: opacity 0.6s ease-out;
}
.uploadtext {
  font-size: 23px;
  font-family: ''Roboto'';
  color: #313131;
  margin-bottom: 4px;
  margin-top: 7px;
}
.bluetext {
  color: #05bde8;
}
.uploadtext2 {
  font-family: 'gm';
  font-size: 14px;
  color: #c8c8c8;
}
.file-list {
  width: 100%;
  overflow-y: scroll;
  margin-top: 25px;
}
.file-line {
  margin-top: 15px;
  margin-bottom: 15px;
}
.file-list-title {
  font-size: 24px;
  color: #313131;
  font-family: ''Roboto'';
  margin-bottom: 5px;
}
.file-line-title {
  font-family: ''Roboto'';
  font-size: 18px;
  line-height: 27px;
}
.file-line-filesize {
  font-family: ''Roboto'';
  color: gray;
  line-height: 27px;
}
.file-line-top {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.file-line-bottom {
  width: 100%;
  position: relative;
  height: 6px;
  margin-top: 6px;
}
.progress-bar-foreground {
  width: 0%;
  height: 17px;
  background-color: #00ff6a;
  position: absolute;
  border-radius: 3px;
  font-size: 12px;
  font-family: 'gm';
}
.progress-bar-background {
  width: 100%;
  height: 17px;
  background-color: #eee;
  position: absolute;
  border-radius: 3px;
}
.file-line {
  width: 100%;
}
.container {
  padding: 35px;
  background-color: #fff;
  border-radius: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  transform: translate(-50%, -50%);
  height: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  border-radius: 48px;
  width: 95%;
  max-width: 1010px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex-direction: column;
}
.artwork {
  width: 144px;
  height: 144px;
  border-radius: 25px;
}
.songtitle {
  font-size: 26px;
  color: #313131;
  font-family: ''Roboto'';
  margin-top: 15px;
  word-break: break-all;
}
.controls {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.timedone {
  font-family: ''Roboto'';
  font-size: 17px;
  color: #313131;
}
.timetotal {
  font-family: ''Roboto'';
  font-size: 17px;
  color: #313131;
}
.playpause {
  min-width: 54px;
  min-height: 54px;
  background-color: #00aff0;
  color: #fff;
  border-radius: 27px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}
.progressbar {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  height: 54px;
}
.pbt {
  display: flex;
  justify-content: space-between;
}
.download {
  min-width: 54px;
  min-height: 54px;
  background-color: #00aff0;
  color: #fff;
  border-radius: 27px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
}
.download-center {
  min-width: 54px;
  min-height: 54px;
  background-color: #00aff0;
  color: #fff;
  border-radius: 27px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.pbb {
  position: relative;
  height: 10px;
}
.pbbackground {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border-radius: 8px;
  position: absolute;
}
.pbforeground {
  width: 0%;
  height: 10px;
  background-color: #00aff0;
  border-radius: 8px;
  position: absolute;
}
